click==8.0.4
dataclasses==0.8
Flask==0.12.2
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
typing_extensions==4.1.1
#Werkzeug==2.0.3
Werkzeug==0.16.1
zipp==3.6.0
Flask-SQLAlchemy==2.3.2
psycopg2==2.7.3.2
Flask-Testing==0.6.2
